body { 
    background-color: #222;
    color: #fff;
    margin: 0 1.2em;
    padding: 0;
    font-family: Arial,Helvetica Neue,Helvetica,sans-serif; 
}

a {
    color: #0082ca;
}

.hidden {
    display: none;
}

form label {
    display: block;
    margin: 0 2px 0.8em;
    font-weight: bold;
}

form input { 
    background-color: #666;
    color: #fff;
    display: block;
    margin: 0 0 1em;
    padding: 0.3em;
    font-size: 1.3em;
}

form input[type=submit] {
    font-size: 1em;
    padding: 0.3em 0.6em;
    margin-top: 1.8em;
    background-color: rgb(0, 148, 82);
    color: #eee;
}

form input[type=submit]:disabled {
    background-color: rgb(78, 96, 88);
    color: #3b413d;
}

#unsubscribeForm div {
    margin-bottom: 0.6em;
    font-weight: bold;
}

#unsubscribeForm div span {
    font-weight: normal;    
}

#unsubscribeForm hr {
    margin: 2em 0;
}

#unsubscribeForm ul {
    padding-left: 0;
}

#unsubscribeForm li {
    display: block;
    margin: 0.5em 0;
}

.message {
    font-size: 0.8em;
    font-weight: bold;
    padding: 1em 0.7em;
    line-height: 150%;
    margin-bottom: 2.4em;
}

.message.error {
    background-color: #c00;
}

.message.warning {
    background-color: rgb(230, 188, 0);
}

.message.ok {
    background-color: rgb(0, 123, 57);
}

.message ul {
    padding-left: 1em;
}

#appVersion {
    margin: 3em 0 2em;
    font-size: 0.8em;
    text-align: center;
    color: #666;
}

/* Show user hint to install to home screen on iOS */
#addToHomeScreenMsg {
    display: none;
}

body.ios #addToHomeScreenMsg {
    display: block;
}

body.ios #formArea {
    display: none;
}

@media all and (display-mode: standalone) {
    body.ios #addToHomeScreenMsg {
        display: none;
    }

    body.ios #formArea {
        display: block;
    }
}